//header search

.site-search-button-link {
	margin-right: 0;
	cursor: pointer;
	background: none;

	@media (max-width: $screen-sm-min) {
		display: block;
		height: $sc-target-size;
		color: $sc-color-theme-700;
		text-align: center;
		position: relative;
		overflow: hidden;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
		margin-right: $sc-margin-lv2;
	}

	@media (min-width: $screen-md-min) {
		font-size: $sc-font-size-xl;
		background: none;
		padding: $sc-padding-lv2;
		color: $sc-color-secondary;
		cursor: pointer;
		position: relative;
		line-height: 34px;

		 &.active {
			&::before {
					position: absolute;
					bottom: 0;
					right: 49%;
					@include translate(50, 0);
					display: inline-block;
					border-right: 7px solid transparent;
					border-bottom: 7px solid $sc-color-theme-border-light;
					border-left: 7px solid transparent;
					border-bottom-color: transparentize($sc-neutral-shade-500, 1-0.2);
					content: '';
					z-index: 1001;
			}

			&::after {
					position: absolute;
					bottom: 0;
					right: 50%;
					@include translate(50, 0);
					display: inline-block;
					border-right: 6px solid transparent;
					border-bottom: 6px solid $sc-neutral-shade-0;
					border-left: 6px solid transparent;
					content: '';
					z-index: 1001;
			}
		}
	}
}
.site-search-button-link:hover {
	color: $sc-color-copy;
	@media (min-width: $screen-md-min) {
		color: $sc-color-theme-500;
	}
}
.site-search-button-link.active {
	// background: $sc-color-theme-background;
	color: $sc-color-copy-dark;

	@media (min-width: $screen-md-min) {
		color: $sc-color-copy;
	}
}

.site-search-button-icon {
	@extend .fa; 
	@extend %fa-search;

	color: common-color(common-white);
	font-size: $sc-font-size-l;

	@media (max-width: $screen-sm-min) {
		line-height: $sc-target-size;
		min-width: $sc-target-size;
	}

	@media (min-width: $screen-md-min) {
		font-size: $sc-font-size-xxl;
	}
}