.header-profile-menu-register-container {
	@extend .header-profile-menu-login-container !optional;
	padding-left: $sc-padding-lv7;

	@media (min-width: $screen-md-min) {
		padding-left: 0;
		margin-right: $sc-margin-lv2;
	}
}

.header-profile-menu-register {
	@extend .header-profile-menu-login !optional;
}

.header-profile-login-link {
	padding: 0;
}

.header-profile-register-link {
	@extend .header-profile-login-link !optional;
}


.header-menu-profile > div {
	display: inline-block;
	vertical-align: middle;
}